.btn-square {
	position: relative;
	background-color: rgba($color: #4c9ad6, $alpha: 0.9);
	border-radius: 10px;
	color: white;
	font-family: $raleway;
	user-select: none;
	text-decoration: none;

	&:hover {
		font-weight: bolder;
		box-shadow: 0px 0px 10px 1px rgba(245, 253, 253, 0.329);
	}
	&:active {
		top: 1px;
		left: 1px;
		box-shadow: -1px -1px 10px 1px rgba(245, 253, 253, 0.397);
		color: rgb(243, 243, 243);
		background-color: rgba($color: #4593cf, $alpha: 0.9);
	}
}
.btn_light {
	background: rgba($color: #fff, $alpha: 1.0);
	color: #3e3e3e;

	&:active {
		background-color: rgb(247, 247, 247);
		color: #303030;
	}
}

.btn-square_google {
	background-image: url('../img/icons/google-play.png');
	background-repeat: no-repeat;
}